<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>欢迎您登录OneThink</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
    <!-- <link rel="stylesheet" type="text/css" href="__CSS__/{$Think.config.COLOR_STYLE}.css" media="all"> -->
</head>

<body id="login-page">
    <div class="diymodel"></div>
    <div id="main-content">
        <!-- 主体 -->
        <div class="login-body">
            <div class="login-main pr">
                <div class="login-form">
                    <h3 class="welcome">找回密码</h3>
                    <div class="item">
                        <i class="icon-login-user"></i>
                        <input type="text" name="email" id="email" placeholder="请填写邮箱" autocomplete="off" />
                    </div>
                    <span class="placeholder_copy placeholder_un">请填写邮箱</span>
                    <div class="login_btn_panel">
                        <button id="send" class="login-btn" type="submit">
                            <span class="on">发送</span>
                        </button>
                        <div class="check-tips"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script type="text/javascript">
    $("#send").click(function() {
        if(i>0){
            return false;
        }
        send()
    })

    function send() {
        var email = $("#email").val();
        if (email == "" || email == null) {
            return false;
        }
        $.post("__URL__/sendEmail", "email=" + email, function(res) {
            var res = JSON.parse(res);
            console.log(res)
            if (res.status == 0) {
                $(".diymodel").show(100);
                $(".diymodel").html(res.msg);
                setTimeout(function() {
                    $(".diymodel").hide(100);
                }, 2000)
            } else if (res.status == 1) {
                i = 60;
                clock();
                $(".diymodel").show(100);
                $(".diymodel").html(res.msg);
                setTimeout(function() {
                    $(".diymodel").hide(100);
                }, 2000)
            }
        })
    }

    var i;
    var time;

    function clock() {
        console.log("定时开始")

        if (i > 0) {
            time = setTimeout(function() {
                i--
                $(".on").html(i + "s后可重新发送");
                clock();
            }, 1000)
        } else {
            clearTimeout(time);
            $(".on").html("发送");
        }
    }
    </script>
</body>

</html>