<extend name="Public/base" />
<block name="body">
    <div class="devicelists_box">
        <div class="diymodel"></div>
        <div class="devicelists">
            <h3>用户列表</h3>
            <div class="search">
                <div>
                    <input type="text" name="device_name" id="like">
                </div>
                <p id="device_search">搜索</p>
            </div>
            <div class="list">
                <ul class="thead">
                    <li>uid</li>
                    <li>用户头像</li>
                    <li>用户昵称</li>
                    <li>操作</li>
                </ul>
                <div class="list_box">
                </div>
            </div>
            <div class="dpage">
            </div>
        </div>
    </div>
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>设备列表</h2>
    </div>
    <div class="actionmodel_box">
        <div class="diymodel"></div>
        <div class="actionmodel">
            <h3>提示</h3>
            <p>确定要取消对用户</p>
            <p style="color: red;font-size: large;" id="nickname">雨后桥前</p>
            <p>的设备分享吗？</p>
            <div class="controls">
                <span id="confirm">确定</span>
                <span id="cancel">取消</span>
            </div>
        </div>
    </div>
    <div class="cf">
        <div class="fl">
            <!-- <a class="btn" href="{:U('User/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button> -->
        </div>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="device_id" class="search-input" value="{:I('device_id')}" placeholder="请输入设备ID">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <!-- <input class="check-all" type="checkbox" /> -->
                    </th>
                    <th class="">设备ID号</th>
                    <th class="">绑定者</th>
                    <th class="">在线状态</th>
                    <!-- <th class="">故障状态</th> -->
                    <th class="">工作模式</th>
                    <th class="">被分享者</th>
                    <th class="">最后绑定时间</th>
                    <th class="">定位地址</th>
                    <th class="">操作</th>
                </tr>
            </thead>
            <tbody>
                <notempty name="_list">
                    <volist name="_list" id="vo">
                        <tr>
                            <td>
                                <!-- <input class="ids" type="checkbox" name="device_id[]" value="{$vo.device_id}" /> -->
                            </td>
                            <td>{$vo.device_id} </td>
                            <td>{$vo.nickname} </td>
                            <td>
                                <eq name="vo['status']" value='1'><span style="color: green">在线</span>
                                    <else/><span style="color: gray">离线</span></eq>
                            </td>
                            <!-- <td>{$vo.warn}</td> -->
                            <td>{$vo.scene_text}</td>
                            <td style="max-width: 120px;height: auto;">
                                <volist name="vo.shareusers" id="v">
                                    <img style="width: 30px;height: 30px;border-radius: 7px;margin-right: 5px" class="cancelshare" data-uid="{$v.uid}" data-nickname="{$v.nickname}" data-deviceid="{$vo.device_id}" src="{$v.avatarurl}">
                                </volist>
                            </td>
                            <td><span>{$vo.update_time|date="Y-m-d H:i:s",###}</span></td>
                            <td>{$vo.address}</td>
                            <td>
                                <!-- <eq name="vo.status" value="1">
                                    <a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a>
                                    <else/>
                                    <a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">启用</a>
                                </eq> -->
                                <a href="javascript:;" data-device_id="{$vo['device_id']}" data-option="share" onclick="adddevice(event)">分享</a>
                                <a href="javascript:;" data-device_id="{$vo['device_id']}" data-option="change" onclick="adddevice(event)">换绑</a>
                                <a href="__URL__/delDevice/device_id/{$vo['device_id']}" class="confirm ajax-get">删除</a>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script type="text/javascript">
    //搜索功能
    var device_id;
    var uid;
    var nickname;
    var data;
    var i = 0;
    var length;
    var pages;
    var limit = 6;
    var like = "";
    var option; //操作标志符
    $("#search").click(function() {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function(e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
    //导航高亮
    highlight_subnav('{:U('
        User / index ')}');

    $(".cancelshare").click(function(e) {
        console.log(e.currentTarget.dataset.deviceid)
        console.log(e.currentTarget.dataset.uid)
        console.log(e.currentTarget.dataset.nickname)
        device_id = e.currentTarget.dataset.deviceid;
        uid = e.currentTarget.dataset.uid;
        nickname = e.currentTarget.dataset.nickname;
        $(".actionmodel_box").show();
        $("#nickname").html(nickname);
    })

    $("#cancel").click(function(e) {
        $(".actionmodel_box").hide();
        e.stopPropagation()
    })

    $("#confirm").click(function(e) {

        $.post('__URL__/cancelShare', "device_id=" + device_id + "&uid=" + uid, function(res) {
            console.log(res)
            var res = JSON.parse(res)
            $(".diymodel").show();
            $(".diymodel").html(res.msg);
            setTimeout(function() {
                $(".diymodel").hide();
                $(".actionmodel_box").hide();
                window.location.href = "__URL__/index.html"
            }, 2000)
        });
        e.stopPropagation()
    })

    $(".actionmodel_box").click(function() {
        $(".actionmodel_box").hide();
    })

    /**
     * 获取设备列表
     * @Author   孙乔雨
     * @DateTime 2018-04-27
     * @return   {[type]}   [description]
     */
    function adddevice(e) {
        var that = this;
        console.log(e)
        if (e != undefined) {
            that.device_id = e.currentTarget.dataset.device_id;
            that.option = e.currentTarget.dataset.option;
        }
        $(".devicelists_box").show();
        $.post("{:U('User/userlist')}", "nickname=" + that.like, function(res) {
            console.log(res)
            that.data = JSON.parse(res);
            if (that.data == null) {
                var children = $(".list_box").children();
                if (children.length > 0) {
                    for (var j = 0; j < children.length; j++) {
                        children[j].remove();
                    }
                }
                var children = $(".dpage").children();
                if (children.length > 0) {
                    for (var j = 0; j < children.length; j++) {
                        children[j].remove();
                    }
                }
                $(".list_box").append('<p style="width:100%;height:45px;line-height:45px;text-align:center;margin-top:120px;color:#515151">暂无数据</p>');
                return false;
            }
            that.length = that.data.length;
            that.pages = Math.ceil(that.data.length / that.limit);
            console.log("设备列表：", that.data)
            console.log("总个数：", that.length)
            console.log("总页数：", that.pages)
            that.i = 0;
            showlist();
        });

    }

    /**
     * 显示设备列表
     * @Author   孙乔雨
     * @DateTime 2018-04-27
     * @return   {[type]}   [description]
     */
    function showlist() {
        var that = this;
        var children = $(".list_box").children();
        if (children.length > 0) {
            for (var j = 0; j < children.length; j++) {
                children[j].remove();
            }
        }

        console.log("第几页：", that.i)
        console.log("总页数：", that.pages)
        // 开始的位置
        var start = that.i * limit;
        console.log("开始的位置：", start);
        // 结束的位置
        if (that.limit > (that.length - start)) {
            var end = that.length;
        } else {
            var end = start + that.limit;
        }

        console.log("结束的位置：", end - 1)
        for (var n = start; n < end; n++) {
            console.log(n)
            $(".list_box").append('<ul class="tbody"><li>' + that.data[n].uid + '</li><li><img style="width:35px;height:35px;border-radius:50%;margin-top:3px;" src="' + that.data[n]['avatarurl'] + '" /></li><li>' + that.data[n]['nickname'] + '</li><li><span class="choose" id=' + that.data[n]['uid'] + '>选择</span></li></ul>');
        }
        showpage();
    }

    /**
     * 显示分页信息
     * @Author   孙乔雨
     * @DateTime 2018-04-27
     * @return   {[type]}   [description]
     */
    function showpage() {

        var that = this;
        var children = $(".dpage").children();
        if (children.length > 0) {
            for (var j = 0; j < children.length; j++) {
                children[j].remove();
            }
        }
        var nowpage = that.i;
        $(".dpage").append("<p onclick='prev()'>上一页</p><p style='background:#fff;width:100px;'>共" + that.length + "条</p><p style='background:#fff;width:100px;'>第" + (++nowpage) + "页</p><p style='background:#fff;width:100px;'>共" + that.pages + "页</p><p onclick='next()'>下一页</p>");
    }

    function prev() {
        var that = this;
        if (that.i > 0) {
            --that.i
        }
        showlist()
    }

    function next() {
        var that = this;
        if (that.i < that.pages) {
            ++that.i

        }
        if (that.i > that.pages - 1) {
            return false;
        }
        showlist()

        console.log("下一页")
    }

    $(".devicelists").click(function(e) {
        $(".devicelists_box").show();
        e.stopPropagation()
    })

    $(".devicelists_box").click(function(e) {
        $(".devicelists_box").hide();
    })

    $("#device_search").click(function() {
        like = $("#like").val();
        adddevice()

    })

    $(".list_box").on("click", ".choose", function(e) {
        console.log(e)
        uid = e.currentTarget.id;
        console.log(device_id)
        console.log(uid)
        if (option == "share") {
            $.post("{:U('Device/adddevice')}", "device_id= " + device_id + "&uid=" + uid, function(res) {
                console.log(res)
                var res = JSON.parse(res);
                $(".diymodel").show(100);
                $(".diymodel").html(res.msg);
                setTimeout(function() {
                    $(".diymodel").hide(100);
                    window.location.href = "{:U('Device/index')}"
                }, 2000)
            })
        } else if (option == 'change') {
            $.post("{:U('Device/change')}", "device_id= " + device_id + "&uid=" + uid, function(res) {
                console.log(res)
                var res = JSON.parse(res);
                $(".diymodel").show(100);
                $(".diymodel").html(res.msg);
                setTimeout(function() {
                    $(".diymodel").hide(100);
                    window.location.href = "{:U('Device/index')}"
                }, 2000)
            })
        }
    })
    </script>
</block>